# vscode
.vscode/

# build
**/build
**/sdkconfig.old
**/sdkconfig

# managed_components
**/managed_components

# docs build files
docs/__pycache__
docs/_build

# dependencies.lock
**/dependencies.lock
